*
	padding 0px
	margin 0px
	outline none



:focus
	outline none !important

a
	text-decoration none
	&:hover, &:focus
		text-decoration none

img
	border 0

textarea
	resize none

h1, h2, h3, h4, h5, h6
	font-weight bold

