gray =  #7d7878
myLightgray =  #ADB5BD
yellow = #e8d814
darkpurple = #37283f
green = #16d247
facebook = #3b5998
darkblue = #2c3e50
black = #111
red = #f3311f
lightred = #e74c3c
blue = #2586E4
darkblack = #000000
