gray =  #7d7878
myLightgray =  #ADB5BD
yellow = #ff9000
darkpurple = #37283f
green = #20a286
facebook = #3b5998
darkblue = #2c3e50
black = #111
red = #e74c3c
lightred = #e74c3c
blue = #2586E4
darkblack = #000000
