
// flex
.flex
	display flex !important
.flex-between
	justify-content space-between
.flex-column
	flex-direction column
.flex-center
	justify-content center
.flex-right
	justify-content flex-end
.flex-left
	justify-content flex-start
.flex-middle
	align-items center
.flex-bottom
	align-items flex-end
.flex-top
	align-items flex-start
.flex-wrap
	flex-wrap wrap
	
.flex-none
	flex none

//margins
.margin0
	margin 0 !important
.margin10-0
	margin 10px 0
.margin0-10
	margin 0 10px
	
.margin0-15
	margin 0 15px
	
.margin15-0
	margin 15px 0px
.margin20-0
	margin 20px 0
	
.margin20-40
	margin 20px 40px
.margin0-20
	margin 0 20px
.margin5
	margin 5px
.margin10
	margin 10px
.margin15
	margin 15px
.margin20
	margin 20px
	
.margin-left5
	margin-left 5px
.margin-left10
	margin-left 10px
.margin-left15
	margin-left 15px
.margin-left20
	margin-left 20px
	
.margin-left50
	margin-left 50px
	
.margin-left0
	margin-left 0px !important
	
.margin-right5
	margin-right 5px
.margin-right10
	margin-right 10px
.margin-right15
	margin-right 15px
.margin-right20
	margin-right 20px
	
.margin-right30
	margin-right 30px
	
.margin-top5
	margin-top 5px
.margin-top10
	margin-top 10px
.margin-top15
	margin-top 15px
.margin-top20
	margin-top 20px
	
.margin-top25
	margin-top 25px
	
.margin-bottom5
	margin-bottom 5px
.margin-bottom10
	margin-bottom 10px
.margin-bottom15
	margin-bottom 15px
.margin-bottom20
	margin-bottom 20px
	
.margin-bottom30
	margin-bottom 30px
.margin-right40
	margin-right 40px
	
.margin-bottom50
	margin-bottom 50px
	
.center-block
	margin-left auto
	margin-right auto
	
.hide
	display none !important
.left0
	left 0 !important


//paddings
.padding0
	padding 0
.padding10-0
	padding 10px 0
.padding0-10
	padding 0 10px
.padding20-0
	padding 20px 0
.padding20-10
	padding 20px 10px
.padding15-20
	padding 15px 20px
.padding15-0
	padding 15px 0px
.padding20-5
	padding 20px 5px
	
.padding0-20
	padding 0 20px
.padding5-15
	padding 5px 15px

.padding5-10
	padding 5px 10px

.padding10-15
	padding 10px 15px
.padding1em
	padding 1em
.padding10-20
	padding 10px 20px
.padding10-40
	padding 10px 40px
.padding5
	padding 5px
	
.padding5-0
	padding 5px 0
.padding10
	padding 10px
.padding15
	padding 15px
.padding20
	padding 20px
	
.padding40
	padding 40px
	
.padding40-0
	padding 40px 0
	
.padding-left5
	padding-left 5px
.padding-left10
	padding-left 10px
.padding-left15
	padding-left 15px
.padding-left20
	padding-left 20px
	
.padding-right5
	padding-right 5px
.padding-right10
	padding-right 10px
.padding-right15
	padding-right 15px
.padding-right20
	padding-right 20px
	
.padding-top5
	padding-top 5px
.padding-top10
	padding-top 10px
.padding-top15
	padding-top 15px
.padding-top20
	padding-top 20px
	
.padding-top70
	padding-top 70px
	
.padding-bottom5
	padding-bottom 5px
.padding-bottom10
	padding-bottom 10px
.padding-bottom15
	padding-bottom 15px
.padding-bottom20
	padding-bottom 20px
	
//colors

.color-white
	color white
.color-transparent
	color transparent !important
.color-black
	color black !important
.color-fuchia
	color fuchia
.color-black
	color black
.color-gray
	color gray
.color-lightgray
	color lightgray
.color-darkblue
	color darkblue
	
.color-darkblack
	color darkblack
	
.color-lightred
	color lightred
.color-whity
	color whity
.color-red
	color #d42717	

.color-blue
	color blue

.color-yellow
	color yellow

.color-green
	color green	

.color-darkblue
	color darkblue
	
.color-gplus
	color #d42717
	
.text-center
	text-align center
.text-right
	text-align right
.text-left
	text-align left
	
.text-uppercase
	text-transform uppercase
	
.text-lowercase
	text-transform lowercase
.anchor
	text-decoration underline
	cursor pointer
	&:hover
		text-decoration none
.hoverShadow
	transition .3s
	&:hover
		box-shadow 0 4px 10px #999 !important	
		
.hover-yellow
	transition .2s
	&:hover
		color yellow !important		

.box-shadow
	box-shadow 0 4px 10px #999 !important
.my-select
	position relative !important
	border-radius 3px !important
	select
		-webkit-appearance none !important
		-moz-appearance none !important
		appearance none !important
		border 0
		background transparent
		width 100%
		height 40px
		padding-left .5em
		position relative
		z-index 3
		font-size 1.2em
		cursor pointer
		color #eee
		option
			color #333
			font-size 1.2em
			padding .8em !important
	&-icon
		position absolute
		right .4em
		z-index 2
		font-size 23px
		top .4em
		color white

.line-height30
	line-height 30px

.font1em
	font-size 1em
.font2em
	font-size 2em
	
.font4em
	font-size 4em
	
.font1-5em
	font-size 1.5em
.font1-3em
	font-size 1.3em
.font-9em
	font-size .9em
	
.font15
	font-size 15px
	
.font13
	font-size 13px

.font20
	font-size 20px
	
.font23
	font-size 23px
	
.font25
	font-size 25px
.font30
	font-size 30px  
.font35
	font-size 35px  
.font-normal
	font-weight normal

.list-style-none
	list-style none
.burger-menu
	position absolute
	top 0 
	left 0
.relative
	position relative
	
.absolute
	position absolute
.my-badge
	font-size 12px
	width 20px 
	height 20px
	border-radius 50%
	color white
	padding-bottom 1px
	padding-right 1px
	
.width100
	width 100%
	
.my-container
	width auto
	margin-left auto
	margin-right auto
	
.rounded
	border-radius 50%
.round10
	border-radius 10px
		
.height220
	height 220px
	
.height100vh
	height calc(100vh - 60px)
	
.height100
	height 100%
	
.pointer
	cursor pointer
.square40
	width 40px
	height 40px

.square35
	width 35px
	height 35px
.square30
	width 30px
	height 30px
	
.square25
	width 25px
	height 25px

.square20
	width 20px
	height 20px
.square50
	width 50px
	height 50px
	

	
.square70
	width 70px
	height 70px
	
.square200
	width 200px
	height 200px

.oddBold:nth-child(odd)
	font-weight bold

.deslised
	opacity 0
	top 50px !important


.cleared
	position relative
	z-index 4

.border2
	border 2px solid !important
.border-btn
	border-bottom 3px solid rgba(0,0,0, .3) !important
	cursor pointer
	&:active
		border-bottom 0px inset transparent !important
		transform scale(.97)

.border0
	border 0 !important


.max-width800
	max-width 800px
.widthCenter
	width 80%
.widthCenter
	width 80%

.max-width600
	max-width 600px

.max-width300
	max-width 300px

.widthHalf
	width 50%


.list-style-none
	list-style none

.right0
	right 0 !important
.hidden
	visibility hidden

.font-bold
	font-weight bold
.font35
	font-size 35px !important

.back-blue
	background blue
.back-green
	background green
	
.back-yellow
	background yellow !important
.back-red
	background #ca0000
.back-lightred
	background lightred

.back-gplus
	background #d42717

.back-darkblue
	background darkblue
.back-gray
	background gray !important
.back-black
	background black
	
.back-darkblack
	background darkblack
.back-transparent
	background transparent
.back-white
	background #ffffff !important
.back-yellow
	background yellow
.back-lightgray
	background myLightgray

.text-underline
	text-decoration underline
	&:hover
		text-decoration none
		cursor pointer

.disabled
	background #aaa !important
	color #757575 !important
	border-color #aaa !important

.relative
	position relative


.card-product
	position relative
	.my-close
		position absolute
		top -13px
		right -13px
		width 35px
		height 35px
		border-radius 50%
		color white
		background #000
		cursor pointer
.close-modal
	color #7b7b7b
	border 0
	font-size 20px
	background transparent !important

.check-icon-green
	font-size 2.5em
	border 5px solid #000
	width 1.7em
	height 1.7em
	border-radius 50%

.checkWrap
    width 26px !important
    height 26px !important
    background #fff
    margin-bottom 15px
    position relative
    border 1px solid darkgray
    border-radius 50%
    z-index 1 !important
   	.check-icon
   		background yellow
   		z-index 2
   		width 18px
   		height 18px
   		border-radius 50%
   		position absolute
	    left 3px
	    top 3px
	    opacity 0

.checkWrap input
    width 22px !important
    height 22px !important
    background #fff
    position absolute
    left 0
    z-index 3
    top -4px
    border-radius 50%
    opacity 0

.checkWrap input:checked ~ .check-icon
	opacity 1



.filtro-form
	margin 0
	input
		border 1px solid lightgray
		background #fff
		max-width 80px
		margin-right .5em
		padding-left .5em

	button
		color #fff
		outline 0
		border 0
		padding .3em .55em

.hideMobile
	display none
.showMobile
	display inline-block
.my-input
	width 100%
	border 0
	border 2px solid
	padding .5em
	font-size 1.1em
	transition .3s
	color #7d7878
	border-radius 4px
	background #212224
	&:focus
		border 2px solid yellow
		
.my-input-search
	width 260px
	border 0
	border 1px solid lightgray
	padding .25em 1.9em .25em .1em
	border-radius 30px
	font-size 1.15em
	transition .3s
	color darkgray
	&-icon
		font-size 1.15em
		
	input
		color yellow
		padding 5px 0 5px 16px
		border 0
		font-size .9em
		width 95%
 		&:focus
			border-color yellow
			
.vdp-datepicker input
	width 100%
	border 0
	border 2px solid lightgray
	padding .6em 0 .6em .8em
	font-size 1.2em
	transition .3s
	color darkgray
	border-radius 5px
	background black
	&:focus
		border-color yellow

.vdp-datepicker__calendar
	width auto !important
	margin-top 3px
		
.my-input-simple
	width 100%
	border 1px solid border
	padding .4em 0 .4em .4em
	font-size 1.15em
	transition .3s
	border-radius .2em
	background #fff
	&:focus
		border 1px solid gold
		

.my-btn
	padding .8em 1em
	outline 0
	border 0
	outline 0
	cursor pointer
	border-radius .2em
	font-size 1em
	transition .3s
	&:active
		box-shadow 0 0 0 transparent
		transform scale(.95,.95)
		
.my-btn-round
	padding .8em 1em !important
	outline 0
	border 3px double !important
	border-radius 30px 
	cursor pointer
	font-size .9em
	transition .3s
	color white
	&:active
		box-shadow 0 0 0 transparent
		transform scale(.95,.95)		

.btn-active
	outline 0
	transition .3s
	&:active
		box-shadow 0 0 0 transparent
		transform scale(.9,.9)

.img-tiny
	width 80px

.borderGray
	border 1px solid #ddd

.border-bottom1
	border-bottom 1px solid lightgray
	
.border-bottom2
	border-bottom 2px solid lightgray

.border1white
	border 1px solid #fff
	
.border2white
	border 2px solid #fff

.border2gold
	border 2px solid gold

.border-box
	border-bottom 2px solid #c7d3df

.opacity0
	opacity 0

.opacity30
	opacity .3

.opacity50
	opacity .5

.opacity70
	opacity .7
	
.opacity80
	opacity .8

.shadowCard
	box-shadow 0 0 15px gray
	

.transition30
	transition .3s

.my-box-shadow
	box-shadow 0 0 5px #ccc

.borderWarn
	border-color #FD9C28 !important
	
.borderError
	border-color #d42717 !important

	
.back-orange
	background #ff9d00
	
.back-red
	background #d42717

.back-pattern
	background url('./img/pattern_lines.png') !important
.tagWarn
	border 1px solid white
	box-shadow 0 0 10px #aaa
	border-radius 4px
	padding 10px
	position relative
	top -20px
	&:after
		content ''
		background #FD9C28
		border-bottom 1px solid white
		border-left 1px solid white
		transform rotate(-45deg)
		width 15px
		height 15px
		position absolute
		bottom -8px
		right 30px
	    
.tagError
	border 1px solid white
	box-shadow 0 0 10px #aaa
	border-radius 4px
	padding 11px
	position relative
	top -20px
	&:after
		content ''
		background #d42717
		border-bottom 1px solid white
		border-left 1px solid white
		transform rotate(-45deg)
		width 15px
		height 15px
		position absolute
		bottom -8px
		right 30px


.mts2
	position relative
	&:after
		content '2'
		font-size .8em
		position absolute
		top -3px
		
	

